*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #393B3D;
  text-align: center;
}
.container{
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem #0B0C0E;
  font-size: 8vmin;
  color: #ffffc7;
  background-color: #151719;

}
#reset-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #151719;
  color: #fff;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem #0B0C0E;
}

#reset-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
